{{!-- <div class="song-card">
  <p class="song-card__text">{{this.text}}</p>
  <div class="song-card__info">
    <p class="song-card__info__username">{{this.artist.name}}</p>
    
  </div>
  --}}
  <div class = 'quote-card'>
    <p class="quote-card__title">{{this.title}}</p>
    <div>
    <p class="quote-card__description">{{this.description}}</p>
    <div>
    <p class="quote-card__artist">{{this.artist}}</p>
    <audio controls>
    <source src="{{this.song}}" type='audio/mpeg'>
    </audio>
    <a href="/comments/{{this._id}}"><img src="../images/comment.png" alt=""></a>
    <img src="./../../public/images/comment.png" alt="">
    
    {{#each this.comments}}
    <div>
    <p class="quote-card__text">{{text}}</p>
    </div>
    <div>
    <p class="quote-card__name">@{{userId.name}}</p>
    </div>
    {{/each}}
    <div class = 'quote-info'>
      <img src="{{userId.profilepic}}" alt="">
      <div class = 'quote-creator-info'>
      <p class="quote-card__title">{{this.title}}</p>
      <p class="quote-card__artist">{{this.artist}}</p>
      <p class="quote-card__description">{{this.description}}</p>
      </div>
      <audio controls>
      <source src="{{this.song}}" type='audio/mpeg'>
      </audio>
    <div class ='quote-buttons'>
      <a href="/comments/{{this._id}}"><img  src="../images/comment.png" alt=""></a>
    </div>
    </div>
      <div class = 'box'>
      <div class = 'comments-section'>
      {{#each this.comments}}
      <div class = 'quote-box'>
      <div class ='image-style'>
      <img src="{{userId.profilepic}}" alt="">
      </div>
      <div class ='display-container'>
      <div>
      <p class="quote-card__name">@{{userId.name}}</p>
      </div>
        <div>
      <p class="quote-card__text">{{text}}</p>
      </div>
      </div>
      </div>
      {{/each}}
      </div>
  </div>
</div>
{{!-- 
{{this.title}}
{{this.description}}
{{this.artist}}
<audio controls>
  <source src="{{this.song}}" type='audio/mpeg'>
</audio>
  <a href="/comments/{{this._id}}"><button>Make a comment</button></a>
  <i class="fa fa-comment"></i>
{{#each this.comments}}
{{text}}
{{userId.name}}

{{/each}} --}}