{{!-- <div class="song-card">
  <p class="song-card__text">{{this.text}}</p>
  <div class="song-card__info">
    <p class="song-card__info__username">{{this.artist.name}}</p>
    
  </div>
  --}}
  <div class = 'quote-card'>
    <div class = 'quote-info'>
      <div class = 'quote-creator-info'>
      <p class="quote-card__title">{{this.title}}</p>
      <p class="quote-card__artist">{{this.artist}}</p>
      <p class="quote-card__description">{{this.description}}</p>
      </div>
      <audio controls>
      <source src="{{this.song}}" type='audio/mpeg'>
      </audio>
    <div class ='quote-buttons'>
      <a href="/comments/{{this._id}}"><button style = 'margin-bottom : 10px'>Make a comment</button></a>
      <a href="/profile/delete/{{this._id}}"><button>delete audio</button></a>
    </div>
    </div>
      <img src="./../../public/images/comment.png" alt="">
      <div class = 'comments-section'>
      {{#each this.comments}}
      <div>
      <p class="quote-card__text">{{text}}</p>
      </div>
      <div>
      <p class="quote-card__name">@{{userId.name}}</p>
      </div>
      {{/each}}
  </div>
</div>



{{!-- 
{{this.title}}
{{this.description}}
{{this.artist}}
<audio controls>
  <source src="{{this.song}}" type='audio/mpeg'>
</audio>
  <a href="/comments/{{this._id}}"><button>Make a comment</button></a>
 <a href="/profile/delete/{{this._id}}"><button>delete audio</button></a>
 <img src="./../../public/images/comment.png" alt="">

{{#each this.comments}}
{{text}}
{{userId.name}}

{{/each}}
 --}}