{{!-- <div class="song-card">
  <p class="song-card__text">{{this.text}}</p>
  <div class="song-card__info">
    <p class="song-card__info__username">{{this.artist.name}}</p>
    
  </div>
  --}}

{{this.title}}
{{this.description}}
{{this.artist}}
<audio controls>
  <source src="{{this.song}}" type='audio/mpeg'>
</audio>
  <a href="/comments/{{this._id}}"><button>Make a comment</button></a>
 <a href="/profile/delete/{{this._id}}"><button>delete audio</button></a>
 <img src="./../../public/images/comment.png" alt="">

{{#each this.comments}}
{{text}}
{{userId.name}}

{{/each}}
